<div class="page-content" style="text-align: center; margin-top: 5vh;">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <span class="mdl-layout-title"><img src="/FLIGHTm8.png" alt=""></span>
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background: url(<%= @deal.image_url %>) center / cover">
          <h2 class="mdl-card__title-text"><%= @deal.title %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <%= @deal.description %>
          <%= @deal.price %>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a onclick="goBack()" href="/users/<%= session[:user_id] %>/deals/{{id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Confirm
          </a>
          <a onclick="goBack()" href="/users/<%= session[:user_id] %>/deals/{{id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Back
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
<script>
function goBack() {
    window.history.back();
}
</script>
