<!DOCTYPE html>
<html>
  <head>

    <title>Flightm8</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
</head>
<body>

<%= session[:user_id] %>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title" style="transform:translateX(-50px);"><a href="/" style="color: white; text-decoration: none;"></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->

      </div>
    </header>
    <div class="mdl-layout__drawer" style="padding: 0">
      <span class="mdl-layout-title"><img src="/CHECKMATE.png" alt=""></span>
      <nav class="mdl-navigation">
        <p class="mdl-navigation__link" style="color: black; font-weight: bold;"></p>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="mdl-navigation__link" style="color: red; ont-weight: bold;">Log out</button>
          <hr style="margin: 0;">

        </form>


        <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Profile +</a>
        <hr style="margin: 0;">

        <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Deals +</a>
        <a class="mdl-navigation__link" href="">Groups</a>
        <a class="mdl-navigation__link" href="">Group Planning</a>
        <a class="mdl-navigation__link" href="">Group Trips</a>
        <a class="mdl-navigation__link" href="">Group Likes</a>
        <hr style="margin: 0;">


        <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Group Deals</a>
        <a class="mdl-navigation__link" href="">Your Points</a>
        <a class="mdl-navigation__link" href="">See Your Rewards</a>
        <a class="mdl-navigation__link" href="">Book Using Rewards</a>
        <hr style="margin: 0;">

        <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Contact Us</a>

      </nav>
    </div>
    <main class="mdl-layout__content">

      <%= yield %>


    </main>

    <footer class="mdl-mini-footer" style="color: black; background-color: white; justify-content: center; padding-top: 0">
      <div class="mdl-mini-footer__middle-section">
        <div class="mdl-logo" style="color: black">
          <h5>BEST MATES. BEST RATES</h5>
        </div>
      </div>
    </footer>




  </div>




</body>
</html>
